# Byte-код Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
*.exe
build/
dist/

# Логи и временные файлы
logs/
*.log

# Настройки IDE
.vscode/
.idea/

# Конфигурации среды
.env
.venv/
env/
venv/

# Кэш тестов и типизации
.pytest_cache/
.mypy_cache/
